##### Core packages
jupyter
jinja2
matplotlib
seaborn
numpy
missingno
pandas
scipy
scikit-learn
xgboost
transformers
statsmodels

##### Image manipulation
Pillow
graphviz

# Efficient jobs (caching, parallelism, persistence)
joblib

# Easy http requests
requests

# Nice utility to diff Jupyter Notebooks.
nbdime

# May be useful with Pandas for complex "where" clauses (e.g., Pandas
# tutorial).
numexpr

# Optional:
nltk
urlextract
tqdm
ipywidgets